body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.reset-btn {
  border: solid 1px blue;
  border-radius: 5px;
  padding: 6px 20px;
}

.grid {
  width: 720px;
  height: 720px;
  border: solid 2px gray;
  display: flex;
}

.fill-in {
  background-color: black;
}